*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: 'Trebuchet MS', "Montserrat", Arial, sans-serif;
    height: 100vh;
}

body{
    width: 100%;

}

header{
    width: 100vw;
    min-height: 100px;
    background-color: bisque;
}

h1{
    text-align: center;
    padding: 30px;
    color: rgb(32, 27, 27);
    /* text-transform: uppercase; */
    font-family: "Faculty Glyphic", sans-serif;
    letter-spacing: 1.2px;
}

a{
    text-decoration: none;
    color: inherit;
}

main{
    display: flex;
    gap: 20px;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 50px 10% 50px 10%;
    
}

.recipe{
    flex: 1 1 calc(50% - 20px); /* width and float control */
    background-color: rgb(250, 250, 250);
    overflow: hidden;
    box-shadow: 0 5px 10px rgb(45 34 60 / 12%);
   
}
.cut{
    width: 100%;
    overflow: hidden;
    aspect-ratio: 16/9;
    display: flex
;
    align-items: center;
}
.imageCap{
    width: 100%;
    align-self: center;
}

#caption{
    padding: 20px 20px 20px 20px;
}

.recipe p{
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 700;
    color: gray;
}


footer{
    background-color: bisque;
    justify-content: left;
    display: flex;
/*     align-items: flex-start; */
    padding: 50px 23% 50px 23%;
    column-gap: 10%;
    flex-wrap: wrap;
    line-height: 1.9;
}

#footerLinks{
    list-style: none;
    font-weight: 700;
    width: fit-content;
    color: rgb(32, 27, 27);
    margin-right: 10%;
    
}

.map{
    width: fit-content;
}

#footerLinks2{
    list-style: none;
    width: fit-content;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-wrap: nowrap;
    column-gap: 2rem;
    color: rgb(32, 27, 27);
}






/* ////////-----MEDIA QUERIES------/////////// */

@media (min-width: 1920px) {
    .recipe{
        flex: 1 1 calc(26% - 20px);
       
    }
}


@media (max-width: 1280px) {

    footer{
        line-height: 2.5;
        justify-content: space-around;
        flex-wrap: nowrap;
    }
    #footerLinks{
        margin-right: 16px;   
    }


}

 @media (max-width: 840px) {

    h2{
        font-size: 1.1rem;
    }

    footer{
        line-height: 2.5;
        justify-content: center;
        padding: 80px 45px 80px 45px;
    }

    #footerLinks{
        margin-right: 16px;   
    }

} 

@media (max-width: 540px) {

    #footerLinks2{
        grid-template-columns: repeat(1, 1fr);
        
    }

}

@media (max-width: 480px) {

    h1{
        font-size: 1.84em;
    }

    .recipe{
        flex: 1 1 calc(100% - 20px);
       
    }

    #footerLinks{
        margin-right: 16px;
        margin-bottom: 20px;  
    }

}

@media (max-width: 375px ) {

    h1{
        font-size: 1.84em;
    }

    .recipe{
        flex: 1 1 calc(100% - 20px);
       
    }

    footer{
        padding: 80px 69px 80px 69px;
        justify-content: left;
    }

    #footerLinks2{
        grid-template-columns: repeat(1, 1fr);
    }
    

}
