*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Trebuchet MS', "Montserrat", Arial, sans-serif;
    overflow-x: hidden;
    font-size: 16px;
    width: 100%;
    height: 100vh;
}

header{
    width: 100vw;
    min-height: 100px;
    background-color: bisque;
}

h1{
    text-align: center;
    padding: 30px;
    color: rgb(32, 27, 27);
    /* text-transform: uppercase; */
    font-family: "Faculty Glyphic", sans-serif;
    letter-spacing: 1.2px;
}

a{
    text-decoration: none;
    color: inherit;
}

main{
    display: flex;
    gap: 20px;
    padding: 50px 10% 50px 10%;
    align-items: flex-start;
    flex-wrap: wrap;
    
}

.recipe{
    background-color: rgb(250, 250, 250);
    width: 50%;
    overflow: hidden;
    box-shadow: 0 5px 10px rgb(45 34 60 / 12%);
    flex: 1 1 calc(50% - 10px);
}
.cut{
    width: 100%;
    overflow: hidden;
    aspect-ratio: 16/9;
}
.imageCap{
    width: 100%;
}

#caption{
    padding: 20px 20px 20px 20px;
}

.recipe p{
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 700;
    color: gray;
}

.recipe h2{
    
   /*  margin: 10px 0 10px 0; */
}

footer{
    background-color: bisque;
    justify-content: left;
    display: flex;
/*     align-items: flex-start; */
    padding: 50px 23% 50px 23%;
    column-gap: 10%;
    flex-wrap: wrap;
    line-height: 1.9;
}

#footerLinks{
    list-style: none;
    font-weight: 700;
    width: fit-content;
    color: rgb(32, 27, 27);
    margin-right: 10%;
    
}

.map{
    width: fit-content;
}

#footerLinks2{
    list-style: none;
    width: fit-content;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-wrap: nowrap;
    column-gap: 2rem;
    color: rgb(32, 27, 27);
}

#signature{
    width: fit-content;
    font-style: italic;
    font-size: 0.8rem;
    text-wrap: nowrap;
    color: rgb(160, 131, 97);
    display: flex;
    margin-left: auto;
    align-self: flex-end;
}